:root {
    --nav-grad-left: #465ab8;
    --nav-grad-right: #261360;
    --search-button-color: #6991e3;
    --light-grey: #aeaeae;
    --card-bg: #323d4f;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-image: linear-gradient(to right, var(--nav-grad-left), var(--nav-grad-right));
}

/*////////////////FORM STYLING////////////////////////////////*/
form button {
    background-color: var(--search-button-color);
}

.card-custom {
    background-color: var(--card-bg);
    color: white;
}

.card-custom p {
    margin-bottom: 0.5em;
}
